body {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 30px;
    height: 100vh;
    max-height: 100vh;
}

@media (max-width: 767px) {
    body {
        padding: 15px;
    }

    h1.brb {
        margin-top: 20vh !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    h1.brb {
        margin-top: 25vh !important;
    }
}

.display-6 {
    font-size: calc(1.425rem + 3.1vw);
    font-weight: 700;
    line-height: 1.2;
}

@media (max-width: 767px) {
    .display-6 {
        font-size: calc(1.425rem + 4.1vw);
    }
}

button.reach-me {
    position: relative;
    border: none;
    border-top-left-radius: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 10px;
    background-color: #d4af37;
    color: black;
}